html{height:100%}
body{
	font-size:14px;
	line-height:20px;
	font-family: Arial, Helvetica, Sans;
	color:#555555;
	margin:0px;
	/*background-color:#eeeeee;*/
	height:100%;
}
img{
	border:none;
}
#center{
	position:absolute;
	left:50%;
	width:800px;
	margin-left:-400px;
	background-color:#ffffff;
	min-height:500px;
}
#content{
	width:500px;
	float:left;
}
#sidebar{
	width:290px;
	float:right;
}
#languages{
	height:15px;
	font-size:12px;
	line-height:15px;
}

h1, h2, h3, h4, h5, h6, h7{
	text-align:left;
	/*font-variant:small-caps;*/
	padding-top:20px;
	padding-left:10px;
}
h1, h2{
	font-weight:lighter;
}
h1{
	font-size:20px;
}
h2{
	font-size:17px;
}

a{
	text-decoration:none;
	color:#23729D;
}
a:hover{
	text-decoration:underline;
}
#login_menu_bar{
	height:20px;
	font-size:14px;
	text-align:right;
}
#menu_bar{
	margin-top:20px;
	font-size:18px;
	height:25px;
	font-weight:100;
	color:black;
}
#menu_bar > a{
	color:#55A2B7;
}
#menu_bar > a.active{
	text-decoration:none;
	color:#666666;
}
#menu_bar > a.active:hover{
	text-decoration:none;
}
select{
	position:inline;
}
table.form{
	width:90%
}
table.form th{
	text-align:right;
	width:auto;
	vertical-align:top;
}
table.form input[type=text]{
	width:100%;
}
table.form input[type=password]{
	width:100%;
}
table.form select{
	width:100%;
}
div.msg_good{
	padding-left:5px;
	height:20px;
	line-height:20px;
	background-color:#dbffcf;
}
div.msg_bad{
	padding-left:5px;
	height:20px;
	line-height:20px;
	background-color:#f4a0a8;
}
span.button{
	white-space:nowrap; 
	background-color:#ffdf59;
	padding-right:5px;
}
span.button_id{
	color:white;
	background-color:#444444;
	padding-left:5px;
	padding-right:5px;
}
span.deleted{
	background-color:#cccccc;
}
