<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{% block title %}Vortaro{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/media/style.css" />
		<!--<link rel="icon" type="image/png" href="/media/favicon.png" />-->
	</head>
	<body>
		<div id="center">
		<div id="languages">
		{{ lang.available_languages }}:
		{% for code, name in lang.languages %}
		{% ifequal code lang.lang %}{{ name }}{% else %}<a href="/{{ code }}/{{ url_minus_language }}">{{ name }}</a>{% endifequal %}{% if forloop.last %}.{% else %},{% endif %}
		{% endfor %}
		</div>
		<!--<p style="font-size:30px;line-height:32px;">Vortaro</p>-->
		<div id="menu_bar">
			<a{% ifequal active_tab 'dictionary' %} class="active"{% endifequal %} href="/{{ lang.lang }}">{{ lang.menu_dictionary }}</a>&nbsp;
			<a{% ifequal active_tab 'project' %} class="active"{% endifequal %} href="/{{ lang.lang }}">{{ lang.menu_project }}</a>&nbsp;
		</div>
		<hr/>
			{% block content %}{{ content|safe }}{% endblock %}
		</div>
	</body>
</html>
