{% extends "base.html" %}
{% block content %}
{{ lang.search_in_dictionary }}:
<form action="/{{ lang.lang }}/search" method="get">
<select name="from">
{% for code, name in languages %}
<option value="{{ code }}"{% ifequal code request.GET.from %} selected="selected"{% endifequal %}>{{ name }}</option>
{% endfor %}
</select> &#8594;
<select name="into">
{% for code, name in languages %}
<option value="{{ code }}"{% ifequal code request.GET.into %} selected="selected"{% endifequal %}>{{ name }}</option>
{% endfor %}
</select>
<input type="text" name="word" value="{{ request.GET.word }}"/>
<input type="submit" value="{{ lang.search }}"/>
</form>
<br/>
{{ content|safe }}
{% endblock %}
