{% extends "base.html" %}
{% block content %}
{{ lang.search_in_dictionary }}:
<form action="/{{ lang.lang }}/search" method="get">
<select name="from">
{% for code, name in languages %}
<option value="{{ code }}">{{ name }}</option>
{% endfor %}
</select>
<select name="into">
{% for code, name in languages %}
<option value="{{ code }}">{{ name }}</option>
{% endfor %}
</select>
<input type="text" name="word"/>
<input type="submit" value="{{ lang.search }}"/>
</form>
<br/>
{{ article|safe }}
{% endblock %}
